skyspear.in {
  handle_path /trading-worker* {
    reverse_proxy trading-worker:4000
  }

  reverse_proxy frontend:3000
}

www.skyspear.in {
  redir https://skyspear.in{uri}
}

api.skyspear.in {
  reverse_proxy trading-worker:4000
}