skyspear.in {
  reverse_proxy frontend:3000
  handle_path /worker* {
    reverse_proxy trading-worker:4000
  }
}

www.skyspear.in {
  redir https://skyspear.in{uri}
}

api.skyspear.in {
  reverse_proxy angel-one:8000
}